#uer Allin owner;
worker_processes  1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';

    ＃access_log  /logs/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;

	#开启SSI
	ssi on;
    ssi_silent_errors on;

	#add_header Access-Control-Allow-Origin *;
	#add_header Access-Control-Allow-Headers X-Requested-With;
	#add_header Access-Control-Allow-Methods GET,POST,OPTIONS;

	upstream dynamic-web {
        #server   127.0.0.1:8080;
	server   192.168.1.40:8080;
	#server   10.1.6.23:8080;
	}

	upstream dynamic-wap {
        #server   127.0.0.1:8080;
	server   192.168.1.26:8080;
	}

	upstream m3u8Server {
		 server 	 192.168.1.192;
	}

	server {
		listen 80;
		server_name slice.allinmd.cn;

		location ~* \.(m3u8|ts)$ {
			proxy_pass http://m3u8Server;
            proxy_set_header Host  $host;
            client_max_body_size 10m;
			client_body_buffer_size 128k;
			proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			add_header Access-Control-Allow-Origin *;
			add_header Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept";
			add_header Access-Control-Allow-Methods "GET, POST, OPTIONS";
		}
	}
	server {
        listen       80;
        server_name  localhost;

        #charset koi8-r;

        #access_log  logs/host.access.log  main;

        location ~ / {
            root   /Users/Allin/Documents/workSpaces/allin_pcV3_static;
            index  index.html index.htm index.jsp;
        }

        #error_page  404              /404.html;

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }

        # proxy the PHP scripts to Apache listening on 127.0.0.1:80
        #
        #location ~ \.php$ {
        #    proxy_pass   http://127.0.0.1;
        #}

        # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
        #
        #location ~ \.php$ {
        #    root           html;
        #    fastcgi_pass   127.0.0.1:9000;
        #    fastcgi_index  index.php;
        #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
        #    include        fastcgi_params;
        #}

        # deny access to .htaccess files, if Apache's document root
        # concurs with nginx's one
        #
        #location ~ /\.ht {
        #    deny  all;
        #}
    }


    # another virtual host using mix of IP-, name-, and port-based configuration
    #
    #server {
    #    listen       8000;
    #    listen       somename:8080;
    #    server_name  somename  alias  another.alias;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}


    # HTTPS server
    #
    #server {
    #    listen       443 ssl;
    #    server_name  localhost;

    #    ssl_certificate      cert.pem;
    #    ssl_certificate_key  cert.key;

    #    ssl_session_cache    shared:SSL:1m;
    #    ssl_session_timeout  5m;

    #    ssl_ciphers  HIGH:!aNULL:!MD5;
    #    ssl_prefer_server_ciphers  on;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}

server
       {
               	listen  80;
               	server_name  www.front-end.com;
				index index.html index.htm index.jsp;
				#root /Users/Allin/Documents/workSpaces/allin_pcV3_static;
				root /Users/allin/workspaces/allin_pcV3_static;
		location ~ ^/call/
                {
					#add_header  Access-Control-Allow-Origin '*.allinmd.cn' ;
					proxy_pass http://dynamic-web;
					proxy_set_header Host  $host;
					client_max_body_size 10m;
					client_body_buffer_size 128k;
				proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                }
		location ~ .*\.(php|jsp|cgi)?$
				{
					 proxy_set_header Host  $host;
					 proxy_set_header X-Real-IP $remote_addr;
					 proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
					 proxy_pass http://dynamic-web;
				}

		location ~ .*(|\.html|htm|js|json)
			{
                  proxy_set_header Host  $host;
                  proxy_set_header X-Real-IP $remote_addr;
                  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                }

		location ~ ^/WEB-INF/ {
    			deny all;
                }

       }

        server
       {
                listen  80;
                server_name  css.allinmd.cn;
                index index.html index.htm index.jsp;
                root /Users/Allin/Documents/workSpaces/allin_pcV3_static/css;
#               error_page 404 = http://www.front-end.com;

                location ~ \.(css)$ {
                        expires 2d;
                }

                location ~ ^/WEB-INF/ {
                        deny all;
                }


       }

	server
       {
                listen  80;
                server_name  img00.allinmd.cn;
                index index.html index.htm index.jsp;
                root /Users/Allin/Documents/workSpaces/allin_pcV3_static/images/img00;
#               error_page 404 = http://www.front-end.com;

                location ~ \.(gif|jpg|jpeg|png|bmp|ico)$ {
                        expires 2d;
                }

                location ~ ^/WEB-INF/ {
                        deny all;
                }


       }

       server
       {
                listen  80;
                server_name  img10.allinmd.cn;
                root /Users/Allin/Documents/workSpaces/allin_pcV3_static/images/img10;
#               error_page 404 = http://www.front-end.com;

                location ~ \.(gif|jpg|jpeg|png|bmp|ico)$ {
                        expires 2d;
                }

                location ~ ^/WEB-INF/ {
                        deny all;
                }


       }

       server
       {
                listen  80;
                server_name  comm.allinmd.cn;
                root /Users/Allin/Documents/workSpaces/allin_pcV3_static/js/comm;
#               error_page 404 = http://www.front-end.com;

                location ~ \.(js|json)$ {
                        expires 2d;
                }

                location ~ ^/WEB-INF/ {
                        deny all;
                }


       }

       server
       {
                listen  80;
                server_name  scene.allinmd.cn;
                root /Users/Allin/Documents/workSpaces/allin_pcV3_static/js/scene;
#               error_page 404 = http://www.front-end.com;

                location ~ \.(js|json)$ {
                        expires 2d;
                }

                location ~ ^/WEB-INF/ {
                        deny all;
                }


       }

       server
       {
                listen  80;
                server_name  modules.allinmd.cn;
                root /Users/Allin\Documents/workSpaces/allin_pcV3_static/js/modules;
#               error_page 404 = http://www.front-end.com;

                location ~ .*$ {
                        expires 2d;
                }

                location ~ ^/WEB-INF/ {
                        deny all;
                }


       }
       server
       {
                listen  80;
                server_name  other.allinmd.cn;
                root /Users/Allin/Documents/workSpaces/allin_pcV3_static/js/third-party;
#               error_page 404 = http://www.front-end.com;

                location ~ .*$ {
                        expires 2d;
                }

                location ~ ^/WEB-INF/ {
                        deny all;
                }


       }

       server
       {
                listen  80;
                server_name  plugins.allinmd.cn;
                root /Users/Allin/Documents/workSpaces/allin_pcV3_static/js/plugins;
#               error_page 404 = http://www.front-end.com;

                location ~ .*$ {
                        expires 2d;
                }

                location ~ ^/WEB-INF/ {
                        deny all;
                }


       }

 server
       {
                listen  80;
                server_name  m.allinmd.cn;
		root /Users/allin/workspaces/allin_h5V2_static;
               # root /Users/Allin/Documents/workSpaces/allin_h5V2_static;
#               error_page 404 = http://m.allinmd.cn;



location ~ ^/mcall/ {
                  proxy_pass http://dynamic-wap;
                  proxy_set_header Host  $host;
                  client_max_body_size 10m;
		  client_body_buffer_size 128k;
		  proxy_set_header X-Real-IP $remote_addr;
                  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                }




}
server
       {
                listen  80;
                server_name  img50.allinmd.cn;
                index /pages/channel/index.html;
                root /Users/Allin/Documents/workSpaces/allin_h5V2_static/images/img50;
#               error_page 404 = http://m.allinmd.cn;

                location ~ \.(gif|jpg|jpeg|png|bmp|ico)$ {
                        expires 2d;
                }

                location ~ ^/WEB-INF/ {
                        deny all;
                }


       }
       server
       {
                listen  80;
                server_name  css2.allinmd.cn;
                root Users\Allin\Documents\workSpaces\allin_h5V2_static\css;
#               error_page 404 = http://m.allinmd.cn;

                location ~ \.(css)$ {
                        expires 2d;
                }

                location ~ ^/WEB-INF/ {
                        deny all;
                }


}
server
       {
                listen  80;
                server_name  research.allinmd.cn;
                root Users\Allin\Documents\workSpaces\allin_researchPlatform;
#               error_page 404 = http://www.front-end.com;

                location /{
				add_header 'Access-Control-Allow-Origin' '*.allinmd.cn';
				add_header 'Access-Control-Allow-Credentials' 'true';
				add_header 'Access-Control-Allow-Methods' 'GET';
				}
				 location ~ ^/call/
                {
                  proxy_pass http://dynamic-web;
                  proxy_set_header Host  $host;
				  client_max_body_size 10m;
				client_body_buffer_size 128k;
				  proxy_set_header X-Real-IP $remote_addr;
						  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
						}
				location ~ .*\.(php|jsp|cgi)?$
						{
							 proxy_set_header Host  $host;
							 proxy_set_header X-Real-IP $remote_addr;
							 proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
							 proxy_pass http://dynamic-web;
						}

				location ~ .*(|\.html|htm|js|json)
					{
						  proxy_set_header Host  $host;
						  proxy_set_header X-Real-IP $remote_addr;
						  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
						}

				location ~ ^/WEB-INF/ {
						deny all;
						}
                location ~ \.(js|json)$ {
                        expires 2d;
                }


       }

}
